/*
	CR Team - Professional Web Designer
*/
body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', Arial, san-serif;
	/* font-family: 'Lora', serif; */
	/* font-family: Tahoma, Arial, san-serif; */
    color: #2f2f2f;
	font-size: 15px;
	overflow-y: scroll;
	position: relative;
	background: #fff;
}
pre {
	font-family: 'Open Sans', Arial, san-serif;
}
select, option {
	font-family: 'Open Sans', Arial, san-serif;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
input {
	outline: 0;
}
html {
    width: 100%;
    height: 100%;
}
a, a:hover, a:focus {
	text-decoration: none;
	transition: linear 0.2s all;
}
a:hover {
	color: #f58220;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px;
    font-weight: normal;
	line-height: 1.6;
}
p {
    margin: 0 0 15px;
    line-height: 1.5;
}
* {outline: 0;}
@media(min-width: 1230px) {
    .container {
		max-width: 1230px;
	}
}
@media (min-width: 1431px) {
	.container {
		max-width: 1400px;
	}
}
@media(min-width:767px) {
    p {
        margin: 0 0 10px;
        line-height: 1.6;
    }
}
a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #666;
}
a img {
    border: none;
}
img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}
:-ms-input-placeholder {
   color: #ccc;
}
.fleft {float: left}
.fright {float: right}
.center {text-align: center}
.align-right {text-align: right;}
.align-left {text-align: left;}
.img-holder {
	width: 100%;
}
.bg_white {background: #fff;}
body .body-wrapper {
	overflow: hidden;
    position: relative;
}
body input, body textarea, body button {
    outline: medium none !important;
    /* border: 1px solid #ccc; */
    /* margin-bottom: 10px; */
    /* -webkit-border-radius: 4px; */
    /* -moz-border-radius: 4px; */
    /* -o-border-radius: 4px; */
    /* -ms-border-radius: 4px; */
    /* border-radius: 4px; */
    /* padding: 0px 5px; */
}
/* body .container { */
    /* padding: 0; */
/* } */
.block-section {
	padding: 30px 0;
}
#slider.block-section {
	padding: 0;
}
#featured_categories {
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	margin-bottom: 25px;
    /* border-top: 1px dashed #eee; */
}
header.header-1 .right-part ul li{
	position: absolute;
    top: 0;
    min-width: 1024px;
    background: #fed700;
    width: 100%;
    height: 55px;
    z-index: 3;
}
header.header-1 .bg-class {
	display:none;
}
header.header-1 .right-part ul li, .product-social li {
    display: inline-block;
}
#featured_categories .item img {
    padding: 10px 20px;
}
.box-border .product-box{
	position: relative;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.top-header {
	background: #f6f6f6;
}
.pull-left {float: left;}
.pull-right {float: right;}
/* Header */
.header.header-style1 {
    top: 0;
    background: #fed700;
    width: 100%;
    z-index: 3;
}
.wrap-main {
    max-width: 1370px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    background: #313131;
    margin: auto;
    position: relative;
    display: block;
    padding: 0;
}
.logo {
    float: left;
    width: 170px;
    display: block;
	padding: 5px 0 5px 5px;
}
.icontgdd-logo {
    background-position: 0 0;
    width: 156px;
    height: 30px;
    display: block;
    margin: auto;
}
[class^="icontgdd-"], [class*="icontgdd-"], [class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url(/assets/img/icondesktop2022@1x_edit1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
#search-site {
    float: left;
    width: 230px;
    height: 35px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.col-mobile {
	background: #000;
}
.topinput, input.topinput[type="text"] {
	float: left;
    width: 162px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}
.btv-nav {
    width: 950px;
    background: #f58220;
    margin: 0;
    padding: 0;
    display: table;
    height: 55px;
}
.header-style1 nav.btv-nav a {
    display: table-cell;
    width: 75px;
    height: 44px;
    padding: 3px 0 4px;
    color: #000;
    background: #fed700;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-family: Arial;
	letter-spacing: -0.3px;
    opacity: 1;
}
.header-style1 nav a.mobile {
    width: 70px;
}
.header-bottom {
    background-color: #f7f7f7;
    position: relative;
    z-index: 8;
    border-bottom: 1px solid #f1f1f1;
}
.header-style1 nav.btv-nav a.tablet {
    width: 84px;
}
.header-style1 nav.btv-nav a.laptop {
    width: 74px;
}
.header-style1 nav.btv-nav a.phukien {
    width: 70px;
}
.header-style1 nav.btv-nav a.maydoitra {
    width: 85px;
}
.header-style1 nav.btv-nav a.ask {
    width: 70px;
}
.header-style1 nav.btv-nav a.gameapp {
    width: 80px;
    height: 43px;
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0;
}
.col-features {
    float: left;
	padding: 0;
}
.top-form.top-form-minicart {
    cursor: pointer;
    position: relative;
    padding: 11px 10px 10px 5px;
}
.top-form.top-form-minicart .top-minicart-icon {
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: url(../../img/bg_general.png) no-repeat -13px -1330px #fff;
    position: relative;
}
.top-form.top-form-minicart .top-minicart-icon .minicart-number {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -12px;
    top: -5px;
    background-color: #fff;
    border-radius: 50%;
}
.header-style1 .header-mid .container .sticky-cart .top-form-minicart .minicart-number {
    background-color: #ff5c00;
    color: #fff;
    right: -5px;
}
.revo_top {
    padding: 7px 0;
}
.top-form .wrapp-minicart {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: transform .3s ease;
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    right: 0;
    left: auto;
    top: 58px;
    width: 318px;
    z-index: 99999;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.255);
}
.top-form:hover .wrapp-minicart {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}
.top-form .wrapp-minicart .minicart-padding .number-item {
    padding: 25px 20px 0;
    font-size: 13px;
    color: #7d7d7d;
}
.top-form .wrapp-minicart .minicart-padding ul.minicart-content {
    background: #fff;
    max-height: 345px;
    overflow: auto;
    padding: 0px 15px 0px 20px;
    margin-left: 0;
}
.cart-contents {
	height: 36px;
    width: 36px;
    background: #fed700;
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    color: #fff;
}
.top-form .wrapp-minicart .cart-checkout {
    line-height: normal;
}
.top-form .wrapp-minicart .cart-checkout .price-total {
    line-height: 41px;
    padding: 0 25px;
}
.top-form .wrapp-minicart .cart-checkout .price-total .label-price-total {
    font-weight: 700;
    font-size: 12px;
    color: #222;
    text-transform: uppercase;
}
.top-form .wrapp-minicart .cart-checkout .price-total .price-total-w {
    float: right;
}
.top-form .wrapp-minicart .cart-checkout .cart-links {
    padding: 15px 22px 40px;
    overflow: hidden;
    width: 100%;
}
.top-form .wrapp-minicart .cart-checkout .cart-links .cart-link {
    text-align: left;
}
.top-form .wrapp-minicart .cart-checkout .cart-links .cart-link, .top-form .wrapp-minicart .cart-checkout .cart-links .checkout-link {
    float: left;
    width: 50%;
}
.top-form .wrapp-minicart .cart-checkout .cart-links .cart-link a, .top-form .wrapp-minicart .cart-checkout .cart-links .checkout-link a {
    font-weight: 700;
    font-size: 12px;
    color: #222;
    line-height: 43px;
    height: 45px;
    border: 1px solid #ededed;
    padding: 0 20px;
    background: #fff;
    display: inline-block;
    text-transform: uppercase;
}
.icon-features img {
    max-width: 46px;
}
.hl_text {
	font-weight: bold;
}
.menu-item {
	float: right !important;
}
.menu-item .hl_text {
	padding-right: 5px !important;
}
.menu-item .hl_text span{
    padding: 10px 10px;
    border-radius: 4px;
    background: #fed700;
	color: #424242;
}
.menu-item .hl_text.hl_phone span{
	background: #ff6a78;
	color: #fff;
}
/* End Header */


.owl-item .item { 
	margin-left: 1px !important;  
}
#home_partners .owl-item .item { 
	padding: 10px 15px;
	border: 1px solid #f1f1f1;
	margin-bottom: 10px;
}
#home_partners .owl-item .item-inner .item:last-child { 
	margin-bottom: 0;
}
#home_partners .owl-carousel .owl-item img {
    /* filter: grayscale(1); */
    opacity: 0.85;
	transition: all 0.2s linear;
}
#home_partners .owl-carousel .owl-item img:hover,#home_partners .owl-carousel .owl-item img:focus {
    filter: grayscale(0);
    opacity: 1;
	transition: all 0.2s linear;
}
.service {
	padding: 0 0 30px 0;
	background: #f8f7f8;
}
#home_banners {
	padding: 30px 0;
	background: #2e3333;
}
#home_partners {
	padding: 15px 0 30px 0;
    border-bottom: 15px solid #f3f3f3;
}
footer.footer-4 {
	background: #f7f7f7;
}
.social-network-footer a {
	font-size: 36px;
	margin-right: 5px;
}
#featured_categories_slide .item h6 {
	margin-bottom: 0;
}
.contain-banner.banner-3 > div {
    padding: 15px 30px 10px 15px;
    background: #ffffff99;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    min-width: 50%;
}
#home_combos {
	border-bottom: 15px solid #f3f3f3;
}
.cart-info .btn-solid i {
	color: #fff;
}
.contain-banner.banner-3 p {
	font-size: 14px;
    color: #ff9800;
    font-weight: 600;
}
#featured_categories .navbtn {
    position: absolute;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #ff9800;
    border-radius: 99px;
    color: #fff;
    z-index: 1;
}
#featured_categories .btn-navleft {
    top: 30%;
    left: 0;
}
#featured_categories .btn-navright {
    top: 30%;
    right: 0;
}
.col-filter {
	margin-right: 8px;
	margin-bottom: 10px;
}
.form-control.filter {
	padding: 8px 20px;
}
.product-filter-content {
	padding: 15px 0;
}
.product_page {
	padding: 0 0 30px;
}
.offer-slider .media:hover {
	box-shadow: 1px 0px 6px #ddd;
}
.collection-product-wrapper .product-top-filter {
	margin-bottom: 15px;
}
.breadcrumb-item {
	font-size: 10px;
}
.slick-slide img {
    width: 100%;
}
.col-slick {
	padding-left: 10px;
	padding-right: 10px;
}
.btn-fill {
	width: 100%;
}
.product-buy .btn {
	font-size: 18px;
	font-weight: 700;
	padding: 8px;
	border-radius: 5px;
}
.product-buy p {
	line-height: 1;
}
.product-buy small {
	color: #fff;
	text-transform: none;
}
.product-right h4.heading {
	font-size: 14px;
	font-weight: 700;
	color: #dc3545;
}
.product-right .product-description p {
	margin-bottom: 5px;
}
.product-right li {
	color: #666;
}
.product-right .product-description.extra .fa, .product-right .product-info i.fa {
	font-size: 10px;
	width: 12px;
	color: #ff5722;
}
.product-right .product-info i.fa {
	color: #ccc;
}
.split p {
	padding: 5px 10px;
    border-radius: 5px;
}
.split p:nth-child(even) {
    background: #f3f3f3;
}
.hotline {
	background: #dc3545;
	color: #f1f1f1;
	padding: 8px 10px;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	display: block;
	border-radius: 99px;
}
.hotline:hover,.hotline:focus {
	color: #fff;
}
.tab-pane {
	text-align: justify;
}
.tab-content.nav-material .tab-pane {
	padding: 30px 0;
}
.product-related {

}
.product-right.product-spec {
	border: 1px solid #dddddd;
    padding: 20px;
}
.product-right.product-spec .heading {
	color: #333;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.product-right .heading {
	font-size: 28px;
	margin: 0 0 10px;
}
.table-custom {
	font-size: 14px;
}
.product-wrapper-grid .col-grid-box {
	margin-bottom: 15px;
}
.product-wrapper-grid.combo-list-product .product-box {
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 5px;
}
.product-wrapper-grid.combo-list-product .product-info {
	padding: 15px;
	background: #f7f7f7;
	height: 100%;
}
.combo_page {
	border-bottom: 15px solid #f5f5f5;
}
.btn.hotline {
	display: inline-block;
	width: auto;
	padding: 12px 25px;
}
.product-related .product-box {
	border:1px solid #ddd;
	border-radius: 5px;
}
.product-related .slick-slide {
    margin: 0 10px;
}
/* the parent */
.product-related .slick-list {
	margin: 0 -10px;
}
.product-buy .first {
	margin-bottom: 3px;
}
.product-buy .first .btn {
	background: #f88120;
}
.btn-addcombo {
	background: #38aeb2;
}
.blog-info .text {
	overflow: hidden;
    text-overflow: ellipsis;
    height: 44px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-right.product-spec {
	overflow: hidden;
}
.product-right.product-spec table {
	border: 1px solid #dee2e6;
	width: 100%;
    margin-bottom: 1rem;
}
.product-right.product-spec table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.product-right.product-spec table td {
	padding: 8px;
    vertical-align: top;
	border: 1px solid #dee2e6;
}
.telus {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1988;
}
.telus .block{
	background: #3dc32a;
	height: 52px;
	width: 52px;
	display: block;
	border-radius: 999px;
}
.telus .block a{
	text-align: center;
}
.telus .block a i{
	font-size: 28px;
	color: #fff;
	line-height: 52px;
	height: 52px;
	width: 52px;
}
#featured_combo .product-box {
	background: #fff;
}
.slider-section .title {
    display: block;
    padding: 5px 0;
	font-size: 16px;
	margin: 0;
}
.slider-section .brand-list {
	display: inline-block;
	margin-bottom: 6px;
}
.slider-section .brand-list li{
	display: inline-block;
}
.slider-section .brand-list li a{
    padding: 3px 15px;
    display: block;
    font-size: 14px;
}
.slider-section .brand-list li a.menu_active,.slider-section .brand-list li a:hover,.slider-section .brand-list li a:focus {
	background: #f28220;
	color: #fff;
	border-radius: 5px;
	border-color: #f28220;
}
.slider-section .slick-slider .slick-next {
    right: 30px;
    top: -38px;
}
.slider-section .slick-slider .slick-prev {
    left: unset;
	right: 60px;
	top: -38px;
}
.slick-next:before,.slick-prev:before{
    color: #535353;
}
.slick-prev:after {
	content: none;
}
.slider-section .side-banner img {
    height: 457px;
}
.product-wrapper-grid .product-box {
    padding: 10px;
    border: 1px solid #eee;
}
.product-right ul,.tab-product ul {
	margin-bottom: 15px;
}
.product-right ul li,.tab-product ul li {
	margin-bottom: 5px;
}
.blog-page {
	padding-bottom: 60px;
}
.product-pagination .pagination .page-item.active {
    padding: 12px 20px;
    border: 0;
    font-size: 16px;
    color: #38aeb2;
    border-radius: 99px;
    height: 100%;
	line-height: 1.3;
}
.product-filter-content .page-title {
	display: block;
    width: 100%;
    margin-bottom: 20px;
}
#best_seller_products.owl-carousel .owl-stage {
    display: flex !important;
}
#best_seller_products.owl-carousel .owl-item {
    background: #fff;
	border-left: 1px solid #efefef;
    margin-left: 1px;
}
#best_seller_products.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}
#footer {
    background: #272727;
    padding: 30px 0 0;
}
.link-wrap h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #ff5c00;
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.link-wrap ul li a {
    color: #dedede;
    font-size: 14px;
    font-weight: 400;
    transition: all .3s;
    line-height: 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: block;
}
.link-wrap ul li a i {
    position: absolute;
    content: '';
    left: -15px;
    font-size: 16px;
    top: 45%;
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transform: translateY(-50%);
    color: #fdb92e;
}
#footer .copyright {
    margin-top: 30px;
}
.copyright h5 {
    font-size: 12px;
    color: #999;
}
.footer_menu .intro p {
    margin: 0 0 5px;
    font-size: 14px;
    color: #dedede;
}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
.icontgdd-logo {
    background-position: 0 0;
    width: 160px;
    height: 45px;
    display: block;
    margin: auto
}
.icontgdd-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0
}
.icontgdd-mobile {
    background-position: -185px 0;
    width: 22px;
    height: 25px;
    display: block;
    margin: 2px auto 3px
}
.icontgdd-tablet {
    background-position: -209px 0;
    display: block;
    margin: 0 auto 5px;
    width: 33px;
    height: 22px
}
.icontgdd-laptop {
    background-position: -245px 0;
    display: block;
    margin: 0 auto 5px;
    width: 39px;
    height: 22px
}

.icontgdd-phukien {
    background-position: -285px 0;
    display: block;
    margin: 0 auto 5px;
    width: 28px;
    height: 24px;
}
.icontgdd-maydoitra {
    background-position: -395px -50px;
    display: block;
    margin: 0 auto 4px;
    width: 30px;
    height: 26px;
}
.icontgdd-simcard {
    background-position: -355px 0;
    display: block;
    margin: 0 auto 5px;
    width: 18px;
    height: 23px
}
.icontgdd-news {
    display: block;
    margin: 0 auto 2px;
    background-position: -428px -50px;
    width: 28px;
    height: 26px;
}
.icontgdd-ask {
    background-position: -352px 0;
    display: block;
    margin: 0 auto 3px;
    width: 25px;
    height: 25px
}
.icontgdd-gameapp {
	background-position: -382px 0;
    display: block;
    margin: 0 auto 5px;
    height: 23px;
    width: 34px;
}
.icontgdd-promo {
    background-position: -475px 0;
    display: block;
    margin: 0 auto 3px;
    width: 22px;
    height: 24px
}
.icontgdd-watch {
    background-position: -315px 0;
    display: block;
    margin: 0 auto 4px;
    width: 34px;
    height: 24px;
}
.col-hotline {
    width: 420px;
    float: left;
    display: block;
    padding: 13px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #ff5f54;
}
.col-features {
	width: 850px;
	float: left;
}
.d-menu {
	width: 100px;
	float: left;
}
.icon-features img {
	max-width: 46px;
}
.homebanner {
    float: left;
    width: 65.834%;
    height: 354px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    margin-bottom: 15px;
}
.homenews {
    float: right;
    width: 33.2%;
    height: 354px;
    overflow: hidden;
}
.twobanner {
    display: block;
    overflow: hidden;
}
.twobanner a {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.twobanner a img {
    width: 100%;
    height: 110px;
    display: block;
}
.hotnews-block {
	height: 110px;
    overflow: hidden;
    padding: 10px;
	margin-bottom: 10px;
    border: 1px solid #ddd;
}
.hotnews-block h3 {
	font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
}
.twobanner .hotnews-block a.title {
    font-size: 14px;
    margin-bottom: 4px;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.twobanner .hotnews-block a .fa {
    font-size: 10px;
    color: #fdb92e;
}
.btn-header-hotline {
	background: #dc3545;
	color: #fff;
	width: 100%;
}
#featured_categories {
    position: relative;
    border-top: 10px solid #f1f1f1;
	background: #f1f1f1;
}
.it_category_feature .item-inner {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
	background: #fff;
}
.itCategoryFeature .item {
    padding: 0 5px;
    position: relative;
}
.it_category_feature .item-inner h5 {
    font-size: 13px;
	text-transform: uppercase;
    margin: 5px 0 0;
    height: 34px;
    overflow: hidden;
	border-top: 1px dashed #e4e4e4;
    padding-top: 8px;
    font-weight: 600;
    color: #212121;
}
.product_page.it_category_feature .item-inner h5 {
	height: 50px;
}
.p_detail_img {
	border: 1px solid #efefef;
    padding: 5px;
    border-bottom: 3px solid #f88120;
	margin-bottom: 15px;
}
.home-horizontal-banner {
	padding-bottom: 20px;
}
.slider-section.slider-layout-4 {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 15px solid #f7f7f7;
}
.product-related .title {
	padding-bottom: 0;
}
.product-box .img-block .quick-info{
    position: absolute;
	top:0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
	padding: 10px;
	background: #000000c5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.product-box:hover .quick-info {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: fadeInUp 500ms ease-in-out;
    animation: fadeInUp 500ms ease-in-out;
}
.product-box .img-block .quick-info > a {
	position: absolute;
	display: block;
	width: 100%;
    height: 100%;
}
.product-box .img-block .quick-info .text,.product-box .img-block .quick-info .text p {
	color: #fff;
	font-size: 13px;
}
.product-box .img-block .quick-info table {
	width: 100%;
}
.product-box .img-block .quick-info table td {
	vertical-align: top;
    border: 1px solid #656565;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1.3;
}
.product-box .img-block .quick-info table td:first-child {
	font-weight: bold;
	color: #20c997;
}
.page-heading {
	font-size: 18px;
	font-weight: bold;
}
#contents.cart_info {
	background: #f1f1f1;
}
#contents.main-page {
    padding-top: 15px;
}
.cart-form {
	padding: 15px;
	background: #fff;
}
.cart-form .form-control {
    border-radius: 3px;
}
.btn-buy_now {
    background: #ff5c00;
    border-radius: 5px;
    display: block;
    color: #f1f1f1;
    padding: 8px 30px;
    width: 60%;
    font-size: 18px;
    transition: all 0.2s linear;
    margin: 0 auto;
}
.extra-des {
	background: #f7f7f7;
	padding: 15px;
	border-radius: 5px;
}
.list-style {
	padding-left: 10px;
}
.list-style li {
	display: list-item;
	list-style: disc inside;
}
.list-style li span {
	position:relative;
	left: -10px;
}
.cart-form .price {
	color: #f44336;
	font-weight: bold;
}
.yt-thumb-list {
	background: #f7f7f7;
	overflow: hidden;
}
.yt-thumb-list li {
	padding: 15px 10px;
	border-bottom: 1px solid #eaeaea;
}
.yt-thumb-list li:last-child {
	/* border-bottom: 0; */
}
.yt-thumb-list li:hover {
}
.yt-thumb-list li:hover .yt-link h5 {
	color: #000;
}
.yt-thumb-list h5 {
	margin:0;
	font-weight: 600;
	font-size: 14px;
}
.yt-link {
	display: block;
}
.yt-link h5 {
	padding-left: 8px;
}
.yt-link.col-sm-10 {
	padding-left: 10px;
}
.yt-main-video .title {
	padding: 5px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
	margin-bottom: 8px;
}
.yt-readmore {
	font-style:italic;
	color: #f28220;
	padding: 10px;
	display: block;
}
.yt-readmore:hover,.yt-readmore:focus {
	color: #ff5722;
}
.viewmore {
	text-decoration: underline;
	padding: 15px;
	font-weight: 600;
}
.viewmore a {
	color: #17a2b8;
}
.video-page .inner {
	height: 463px;
	overflow-y:scroll;
}
.video-page h1.title {
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 15px;
}
.video-page .yt-thumb-list .title {
    padding: 15px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #f58220;
	margin-bottom: 0;
}
.video-des a h5{
	color: #333;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.video-related {
	border-top: 15px solid #f7f7f7;
}
.modal-content {
    position: relative;
    padding: 10px;
}
.modal-content .close {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    opacity: 1;
    border-radius: 999px;
    z-index: 2;
    width: 38px;
    height: 38px;
}
.product-right.product-description-box h1 {
	font-size: 26px;
	font-weight: bold;
}
.product_detail_page {
	padding-top: 30px;
}
.product_page .it_category_feature .item-inner h5 {
	font-size: 12px;
}
a.video-thumb {
    display: block;
    padding: 4px;
    background: #000000;
    border-radius: 5px;
}
.actual_image .item {
	padding: 0;
}
.blog-detail h1.title {
    font-size: 32px;
    text-align: left;
}
.related_articles {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.related_articles a {
    display: block;
    color: #828282;
}
.related_articles .title h5 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}
.related_articles .fa {
    color: #f58220;
    font-size: 12px;
}
.related_articles h5, .related_articles .time {
    display: inline-block;
	font-size: 12px;
    color: #696969;
}
.side-news .time, .related_articles .time {
    font-size: 12px;
    color: #999;
}
.sidebar .widget {
    margin-bottom: 30px;
}
.widget-inner {

}
.sidebar .widget.widget_product_categories .product-categories > li {
    border-top: 1px solid #ebebeb;
    border-bottom: 0 !important;
    padding: 15px 20px !important;
}
.sidebar .widget.widget_product_categories, .sidebar .widget.widget_list_news {
    border: 1px solid #f58220;
}
.sidebar .widget .block-title-widget h2 {
    position: relative;
    padding: 15px;
    color: #f58220;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: 0;
}
.sidebar .widget .widget-inner ul > li > a {
    display: block;
    vertical-align: top;
}
.sidebar .widget.widget_product_categories .product-categories > li > a {
    font-size: 15px;
    color: #3e3e3e;
    cursor: pointer;
}
.sidebar .widget.widget_product_categories .product-categories > li > a:hover {
    color: #f58220;
}
.pos-new-blog .item {
    padding: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}
.news_module .thumb {
    height: 170px;
    width: 100%;
    display: block;
}
.pos-new-blog .post_title {
    position: relative;
    height: 50px;
    overflow: hidden;
    padding-bottom: 0px;
    margin: 10px 0 5px;
    overflow: hidden;
}
.pos-new-blog .post_title:before {
    background: #f58220;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}
.pos-new-blog .post_title a {
    color: #262b32;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    line-height: 23px;
}
.pos-new-blog .date_added {
    font-size: 10px;
    color: #ccc;
}
.pos-new-blog .item-ii p {
    color: #7f7f7f;
    font-size: 14px;
    margin: 0;
}
.btn-readmore {
    background: #f58220;
    color: #f2f2f2;
    transition: all 0.2s linear;
}
.border-product >table {
	width: 100%;
}
.border-product >table td{
	padding: 5px 8px;
	border: 1px solid #eee;
}
header .desktop-menu .sm-horizontal {
    position: fixed;
    background-color: #fff;
    width: 300px;
    border-radius: 0;
    border: 1px solid #eee;
    top: 0;
    height: 100vh;
    right: -300px;
    z-index: 999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: scroll;
}
header.header-1 .desktop-menu .toggle-nav {
    right: 10px;
    top: 20px;
    display: block;
    text-align: right;
}
header.header-1 .desktop-menu .toggle-nav .ti-menu-alt {
    font-size: 24px;
    border: 1px solid #f28220;
    border-radius: 5px;
    padding: 5px;
    background: #f28220;
    color: #fff;
}
.pixelstrap-2 {
	box-shadow: -10px 0px 14px #0000001c;
}
header .desktop-menu .mobile-back {
    display: block;
    padding: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header .desktop-menu .sm-horizontal > li > a {
    padding: 10px 18px;
    color: #444444;
	font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
	border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.pixelstrap-2 ul a {
	padding: 8px 18px;
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    border-left: 8px solid transparent;
	border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.pixelstrap-2 ul li:first-child a{
    border-top: 0;
}
.wrap_lightbox {
    display: block;
    border: 1px solid #e6dca4;
    border-radius: 5px;
    /* padding: 3px; */
    overflow: auto;
    max-width: 100%;
}
.wrap_lightbox .inner {
	width: 100%;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center center;
}
.text-underline {text-decoration: underline !important;}
